callwords.ini
config.ini
serverlist.txt
background/DGS2BarokOffice/witnessempty.png
background/DGS2BarokOffice/stand.png
background/DGS2BarokOffice/prosecutorempty.png
background/DGS2BarokOffice/prosecutiondesk.png
background/DGS2BarokOffice/prohelperstand.png
background/DGS2BarokOffice/judgestand.png
background/DGS2BarokOffice/helperstand.png
background/DGS2BarokOffice/defenseempty.png
background/DGS2BarokOffice/defensedesk.png
