QFrame {
	color: black;
	background-color:transparent;
}
AOClockLabel {
	border: 1px solid rgba(255, 255, 255, 135);
	border-radius: 2px;
	background-color: #1B1B1B;
	color:white;
	padding: 0px;
}

QCheckBox {
	color:white;
	background-color:transparent;
}

QComboBox {
	border:white;
	border-radius: 3px;
	background-color:#1B1B1B;
	color: white;
}

QAbstractItemView {
	border: 0px transparent;
	background-color: transparent;
	color: white;
	border-radius: 0px;
	selection-background-color: #328CBD;
}

QListView {
	color: white;
	border: 0px;
	background-color: #1B1B1B;
	selection-background-color: #FFC321;
}

QLineEdit {
	color:white;
	background-color:transparent;
	border: 0px solid #328CBD;
}

QSlider::handle:horizontal { 
	background-color: gray; 
}

QScrollBar {
  height: 0px;
  width: 0px;
}
